*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: blue; 
}
.container {
    text-align: center;
    margin-top: 20%;
}

h1{
    font-size: 40px;
    color: white;
}

button {
    /* font-size: larger; */
    width: 20%;
    height: 40px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}